body {
  margin: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

input, button {
  padding: 4px 8px;
  border: 1px solid #ccc;
}

input.content {
  width: calc(100% - 70px);
}

button#todo-add {
  cursor: pointer;
}

button#todo-add:disabled {
  cursor: not-allowed;
}

#container {
  margin: 20px 0 0 0;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
  max-width: 300px;
}

#container > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border: 1px solid #fdd566;
  border-left: 5px solid #fdd566;
  background-color: #ffe9ac;
  padding: 5px;
  margin: 5px 0;
  list-style: none;
  user-select: none;
}

#container > li.active {
  border-left: 5px solid #57bb05;
}

#container > li:hover {
  background-color: #ffdf88;
}

#container > li > span.delete-btn {
  cursor: pointer;
  margin-bottom: 1px;
  padding: 1px 4px 5px 4px;
  max-height: 12px;
  border-radius: 2px;
  color: #000;
  background-color: #fff;
  user-select: none;
  transition: all 0.15s ease;
  transform: rotate(0deg);
}

#container > li > span.delete-btn:hover {
  transform: rotate(90deg);
  color: #fff;
  background-color: #ff7300;
}

#container > li > span.save-btn {
  cursor: pointer;
  margin-bottom: 2px;
  opacity: 1;
  transition: opacity 0.15s ease;
}

#container > li > span.save-btn.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.m-l-10 {
  margin-left: 10px;
}